/__pycache__
temp.py
/Dokkan_Asset_Downloader/temp_downloads/**

!/Dokkan_Asset_Downloader/temp_downloads/global/
!/Dokkan_Asset_Downloader/temp_downloads/global/en/
!/Dokkan_Asset_Downloader/temp_downloads/global/en/sqlite/
!/Dokkan_Asset_Downloader/temp_downloads/global/en/sqlite/current/
!/Dokkan_Asset_Downloader/temp_downloads/global/en/sqlite/current/en/
!/Dokkan_Asset_Downloader/temp_downloads/global/en/sqlite/current/en/database.db
*.env