/__pycache__
temp.py
/Dokkan_Asset_Downloader/card_assets/**
!/Dokkan_Asset_Downloader/card_assets/
!/Dokkan_Asset_Downloader/card_assets/global/
!/Dokkan_Asset_Downloader/card_assets/global/en/
!/Dokkan_Asset_Downloader/card_assets/global/en/sqlite/
!/Dokkan_Asset_Downloader/card_assets/global/en/sqlite/current/
!/Dokkan_Asset_Downloader/card_assets/global/en/sqlite/current/en/
!/Dokkan_Asset_Downloader/card_assets/global/en/sqlite/current/en/database.db
*.env
Dokkan_Asset_Downloader/error.log.json
Dokkan_Asset_Downloader/packets.txt
/Dokkan_Asset_Downloader/clean_download